altgraph==0.16.1
autopep8==1.4.4
Click==7.0
fbs==0.8.3
future==0.17.1
macholib==1.11
pefile==2019.4.18
pure-python-adb==0.1.6.dev0
pycodestyle==2.5.0
PyInstaller==5.13.1
PyQt5==5.11.3
PyQt5-sip==4.19.17
pyqt5-tools==5.11.3.1.4
python-dotenv==0.10.3
pywin32-ctypes==0.2.0
